:root {
  font-size: 62.5%;
}

h1 {
  text-align: center;
  font-size: 5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #e1464fff;
}

.cell {
  width: 3rem;
  height: 3rem;
  background-color: lightblue;
  border: 1px black solid;
}

.empty-cell {
  background-color: lightblue;
}

.ship-open-cell {
  background-color: cadetblue;
}

.ship-hit-cell {
  background-color: #e1464fff;
}

.ship-miss-cell {
  background-color: rgb(244, 255, 28);
}

.player-hit-ship {
  background-color: rgb(122, 37, 41);
}
.player-miss-ship {
  background-color: rgb(244, 255, 28);
}

.cell:hover {
  opacity: 0.7;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 3rem);
}

.board:hover {
  cursor: pointer;
}

.boards-container {
  display: grid;
  column-gap: 5rem;
  grid-template-columns: 30rem 30rem;
  justify-content: center;
  position: relative;
}

.player-name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}

.message-container {
  position: absolute;
  background-color: white;
  font-size: 3rem;
  padding: 2rem 4rem;
  border-radius: 1rem;

  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  top: 50%;
  transform: translateY(-50%);
  width: 20rem;
}

.play-again-btn,
#rotate-ship-btn {
  background-color: #e1464fff;
  color: white;
  font-size: 2.5rem;

  border: none;
  border-radius: 1rem;

  padding: 0.7rem 2rem;

  box-shadow: 0rem 0.7rem 0rem 0rem rgb(77, 115, 138);

  cursor: pointer;
}

.play-again-btn:hover,
#rotate-ship-btn:hover {
  opacity: 0.7;
}

.play-again-btn:active,
#rotate-ship-btn:active {
  opacity: 1;
  background-color: rgb(144, 43, 48);
  transform: translateY(0.5rem);
  box-shadow: 0rem 0.2rem 0rem 0rem rgb(77, 115, 138);
}

.can-not-place-ship {
  background-color: red;
}

.can-place-ship {
  background-color: green;
}
